pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "LkP_OldModifyDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_AzureSql_Stagingdb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_ModifyDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifyDate) as NewModifyDate from [dbo].[Employee_Dim]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_AzureSql_Stagingdb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LkP_OldModifyDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP_ModifyDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[Employee_Dim]\nwhere ModifyDate>'@{activity('LkP_OldModifyDate').output.Firstrow.Modifydate}' and ModifyDate<='@{activity('LKP_ModifyDate').output.Firstrow.NewModifyDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_AzureSql_Stagingdb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_output_Employee",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "RefrencetbleUpdate_newModifyDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LookuprefrencetblupdateNewmodifydate]",
					"storedProcedureParameters": {
						"Modifydate": {
							"value": {
								"value": "@activity('LKP_ModifyDate').output.firstRow.NewModifyDate",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@activity('LkP_OldModifyDate').output.firstRow.tableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_Azuresql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-02T07:32:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}